
img{
  display: inline-flex;
  padding: 5px;
    border-radius: 15px;
    -webkit-border-radius: 15px;
    -moz-border-radius: 15px;
    -ms-border-radius: 15px;
    -o-border-radius: 15px;
}

b{
    outline-style: solid;
    outline-color: #ff7500;
    outline-width: 2px;
}

head{
    width: 100%;
    border-radius: 25px;
    -webkit-border-radius: 25px;
    -moz-border-radius: 25px;
    -ms-border-radius: 25px;
    -o-border-radius: 25px;
}

body{
    width: auto;
    border-radius: 25px;
    -webkit-border-radius: 25px;
    -moz-border-radius: 25px;
    -ms-border-radius: 25px;
    -o-border-radius: 25px;
    box-sizing: border-box;
}


h1{
    font-size: xx-large;
    background-color: #ff8500;
    font-family: Arial, Helvetica, sans-serif;
}

h2, h3{
    font-size: x-large;
    font-family: Arial, Helvetica, sans-serif;
}
p{
    font-size:x-large;
    font-family: Arial, Helvetica, sans-serif;
    color: #ff7500;
}

.About-Us-Content-Background, .About-Us-Content, .About-Us-Content-Background-2, .About-Us-Links{
    padding: 8px;

}


.About-Us-Header{
    width: 100%;
    border-radius: 25px;
    -webkit-border-radius: 25px;
    -moz-border-radius: 25px;
    -ms-border-radius: 25px;
    -o-border-radius: 25px;

}

.About-Us-Links{
    color:#ff8500;
}

li{
    display: inline;
    margin-left: 15%;
}

label{
    font-size: large;
    font-family: Arial, Helvetica, sans-serif;
}

input[type=text], input[type=email], select, textarea {
    width: 100%;
    padding: 12px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    margin-top: 6px;
    margin-bottom: 16px;
    resize: vertical;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    -ms-border-radius: 4px;
    -o-border-radius: 4px;
    font-size: large;
    font-family: Arial, Helvetica, sans-serif;
}

input[type=submit] {
    background-color: black;
    color: orange;
    padding: 12px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: large;
    font-family: Arial, Helvetica, sans-serif;
  }

.Contact-Background{
    background-color: black;
    padding: 8px;
    border-radius: 25px;
    -webkit-border-radius: 25px;
    -moz-border-radius: 25px;
    -ms-border-radius: 25px;
    -o-border-radius: 25px;
}

.Contact{
    background-color: #ff8500;
    padding: 15px;
    border-radius: 25px;
    -webkit-border-radius: 25px;
    -moz-border-radius: 25px;
    -ms-border-radius: 25px;
    -o-border-radius: 25px;
}

.Form{
    background-color: #ff8500;
    padding-left: 30%;
    padding-right: 30%;
    border-radius: 25px;
    -webkit-border-radius: 25px;
    -moz-border-radius: 25px;
    -ms-border-radius: 25px;
    -o-border-radius: 25px;
    max-width: fit-content;
}

.About-Us{
    width:100%;
}

.About-Us-Content, .Contact-Background{
    padding-left: 8px;
    padding-right: 8px;
}

.Board-House-Pic img{
    width: 100%;
}
.Pic-img img{
    width: 650px;
    max-width: 100%;
    height: 400px;
    max-height: 100%;
}

.Pic-img img:hover{
    zoom: 101%;
    background-color: black;
}
nav :hover{
    zoom: 103%;
    color:black;
    background-color: #ff7500;
    outline-width: 3px;
    outline-style: solid;
}

nav :active{
    color:black;
    background-color: red;
    outline-color: red;
    outline-width: 3px;
    outline-style: solid;
}

nav ::after{
    color:#ff5500;
    outline-color: #ff5500;
    outline-width: 3px;
    outline-style: solid;
}

.About-Us-Links a{
    text-decoration: none;
    outline: none;

}

.About-Us-Links{
    
    border-radius: 25px;
    -webkit-border-radius: 25px;
    -moz-border-radius: 25px;
    -ms-border-radius: 25px;
    -o-border-radius: 25px;
}

aside {
    display: inline-table;
    margin-left: 64%;
    text-decoration: none;
    outline-style: solid;
    outline-color: #ff7500;
    outline-width: 2px;
    padding: 0%;
}


.image-logo a{
    padding: 0%;
    background-color: inherit;
    outline: none;
    margin-left: 0%;
}

.image-logo{
    padding:0%;
}

.footer-contact{
    display: inline-flex;
    width: 100%;
    margin-left: 0%;
    background-color: black;
    border-radius: 20px;
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    -ms-border-radius: 20px;
    -o-border-radius: 20px;
}

.footer-contact p{
    font-size: medium;
    color: #ff8500;
    margin-left: 20px;
    width: 100%;
}

.footer-contact a {
    color: #ff7500;
    padding: 0%;
    text-decoration: none;
    outline: none;
    font-size: medium;
    margin: 0%;
}

.footer-contact b{

    padding: 0%;
    text-decoration: none;
    outline: none;
    font-size: medium;
    color: #ff7500;
}

.footer-contact a:hover{
    outline-style: solid;
    
    color:#ff5500;
    outline-color: #ff5500;
    outline-width: 2px;
    outline:none;
}

.footer-contact a:active{
    color:red;
    outline-color: red;
    outline-width: 2px;
    outline: none;
}


aside{
    display: inline-block;
    padding: inherit;
}

aside h3{
    font-size: medium;
}

aside p{
    font-size: medium;
    padding: 0%;
    outline: none;
    color: black;

}

aside a{
    font-size: medium;
}

aside a:hover{
    color: #ff4500;
}

aside b{
    text-decoration: none;
    font-size: medium;
    outline: none;
}

aside a:active{
    color: red;
}



.section{
    background-color: black;
    padding: 0;
    width: 100%;
    display: inline-flex;
    color: orange;
    border-radius: 20px;
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    -ms-border-radius: 20px;
    -o-border-radius: 20px;
    max-width: 100%;
    position: sticky;
    top: 0;

    
}



.section p{
    font-size: medium;
    text-decoration: none;
    outline: none;
}


.p {
    display: inline-flex;
    margin-left: 48%;
    padding-left: 2px;
    width: 99%;
}

.p a{
    color:#ff7500;
    

}

.p p{
    margin-left: 4.5%;
    color: orange;
}


.p b{
    color: #ff7500;
    
}

.section a{
    font-size: medium;
    padding: 0%;
    background-color: inherit;
    outline: none;
    margin: 0%;
    
}

.section a:hover{
    color: #ff4500;
}

.section b{
    text-decoration: none;
    font-size: medium;
    outline: none;
}

.section a:active{
    color: red;
}

.section a :hover{
    color: #ff5500;
}

.image-logo a{
    padding: 0%;
    background-color: inherit;
    outline: none;
    margin-left: 0%;
}

.image-logo img{
    justify-content: center;
    width:99%;
    height: auto;
    object-fit: scale-down;
}


img{
    display: inline-flex;
    padding: 5px;
    border-radius: 15px;
    -webkit-border-radius: 15px;
    -moz-border-radius: 15px;
    -ms-border-radius: 15px;
    -o-border-radius: 15px;
}

b{
    outline-style: solid;
    outline-color: #ff7500;
    outline-width: 2px;
}

.text{
    color:#ff7500;
    outline: none;
}

.text b{
    outline: none;
}

.Links{
    
    border-radius: 25px;
    -webkit-border-radius: 25px;
    -moz-border-radius: 25px;
    -ms-border-radius: 25px;
    -o-border-radius: 25px;
}

.Links a {
    text-decoration: none;
    outline: none;
}

p{
    font-size:x-large;
    font-family: Arial, Helvetica, sans-serif;
}

h2, h3{
    font-size: x-large;
    font-family: Arial, Helvetica, sans-serif;
    border-radius: 25px;
    -webkit-border-radius: 25px;
    -moz-border-radius: 25px;
    -ms-border-radius: 25px;
    -o-border-radius: 25px;
}

q{
    font-size:xx-large;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    color: #ff7500;
    padding-left: 60%;
}


h1{
    font-size: xx-large;
    background-color: #ff8500;
    font-family: Arial, Helvetica, sans-serif;
    display: inherit;
    max-width: 100%;
    border-radius: 25px;
    -webkit-border-radius: 25px;
    -moz-border-radius: 25px;
    -ms-border-radius: 25px;
    -o-border-radius: 25px;
}

.Links {
    margin-left: 2%;
    position: relative;
    display: block;
}

.nav {
    display: none;
    position: absolute;
    background-color: black;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    padding: 12px 16px;
    z-index: 1;
    background-color: black;
    color:#ff7500;
}

.nav a{
    color:#ff7500;
    font-size: large;
    font-family: Arial, Helvetica, sans-serif;
    background-color: black;
    border-radius: 25px;
    -webkit-border-radius: 25px;
    -moz-border-radius: 25px;
    -ms-border-radius: 25px;
    -o-border-radius: 25px;
}
.Links:hover i{
    color: #ff6500;
}

.Links:active i{
    color:#ff4500;
}

.Links:hover .nav{
    display: grid;
}

.Links:active .nav{
    display:grid;
}


i{
    font-size: x-large;
    font-family: Arial, Helvetica, sans-serif;
    color: #ff7500;
    background-color: black;
    border: none;
}

i:active{
    color:#ff4500;


}

nav, .Header, .Link-Back, .Links, a{
    padding: 6px;
}

nav{
    font-size: x-large;
    font-family: Arial, Helvetica, sans-serif;
    color: #ff8500;
    background-color: black;
    margin-left: auto;
    border-radius: 25px;
    -webkit-border-radius: 25px;
    -moz-border-radius: 25px;
    -ms-border-radius: 25px;
    -o-border-radius: 25px;
}

.internal-navigate{
    margin-left: 17%;

}

.internal-navigate a{
    color: #ff7500;
    margin-left: 12%;
    border-radius: 25px;
    -webkit-border-radius: 25px;
    -moz-border-radius: 25px;
    -ms-border-radius: 25px;
    -o-border-radius: 25px;
}


.Internal-Links{
    background-color: black;
    color: #ff7500;
    border-radius: 25px;
    -webkit-border-radius: 25px;
    -moz-border-radius: 25px;
    -ms-border-radius: 25px;
    -o-border-radius: 25px;
}

.internal-navigate a:hover{
    background-color: #ff7500;
    color: black;
    border-radius: 25px;
    -webkit-border-radius: 25px;
    -moz-border-radius: 25px;
    -ms-border-radius: 25px;
    -o-border-radius: 25px;
    text-decoration: none;
}

.Content-Background h1{
    font-size: xx-large;
    background-color: #ff8500;
    font-family: Arial, Helvetica, sans-serif;
    width: 100%;
    border-radius: 25px;
    -webkit-border-radius: 25px;
    -moz-border-radius: 25px;
    -ms-border-radius: 25px;
    -o-border-radius: 25px;
}

.internal-navigate i:hover{
  background-color: #ff7500;
  color: black;
  border-radius: 25px;
  -webkit-border-radius: 25px;
  -moz-border-radius: 25px;
  -ms-border-radius: 25px;
  -o-border-radius: 25px;
}

.nav a:hover{
    zoom: 101%;
    color:black;
    background-color: #ff7500;
    outline-width: 3px;
    outline-style: solid;
    text-decoration: none;
    cursor: pointer;
}

.nav a:active{
    color:black;
    background-color: red;
    outline-color: red;
    outline-width: 3px;
    outline-style: solid;
    text-decoration: none;
}

.nav ::after{
    color:#ff5500;
    outline-color: #ff5500;
    outline-width: 3px;
    outline-style: solid;
}

.internal-navigate a:active{
    background-color: red;
    color: black;
    border-radius: 25px;
    -webkit-border-radius: 25px;
    -moz-border-radius: 25px;
    -ms-border-radius: 25px;
    -o-border-radius: 25px;
}

textarea::placeholder{
    font-size: large;
}

.contact-footer{
    width: 100%;
    max-width: 100%;
    
    
}
.contact-footer a{
    padding: 0%;
    text-decoration: none;
    outline: none;
    font-size: x-large;
    margin: 0%;
    color: black;
    
}

.contact-footer p {
    padding: 0%;
    text-decoration: none;
    outline: none;
    font-size: x-large;
    margin: 0%;
    margin-left: 30%;
    color: black;

}

.contact-footer h1{
    margin-left: 30%;
}

.contact-footer b{
    outline: none;
    color: black;
}

.contact-form-p{
    background-color: black;
    color: #ff6500;
    padding: 12px 20px;
    border: none;
    border-radius: 15px;
    cursor: pointer;
    font-size: large;
    width: 40%;
    font-family: Arial, Helvetica, sans-serif;
    -webkit-border-radius: 15px;
    -moz-border-radius: 15px;
    -ms-border-radius: 15px;
    -o-border-radius: 15px;
}

u{
    color: black;
}

b{
    text-decoration: none;
    outline: none;
}

form button{
    background-color: black;
    color: #ff6500;
    padding: 12px 20px;
    border: none;
    border-radius: 15px;
    cursor: pointer;
    font-size: large;
    width: 30%;
    font-family: Arial, Helvetica, sans-serif;
    -webkit-border-radius: 15px;
    -moz-border-radius: 15px;
    -ms-border-radius: 15px;
    -o-border-radius: 15px;
    margin-left: 30%;
}

form button:hover{
    
    outline: none;
    color: #ff5500;
}

form button:active{
    color: red;
}