img{
    padding: 5px;
    border-radius: 15px;
    -webkit-border-radius: 15px;
    -moz-border-radius: 15px;
    -ms-border-radius: 15px;
    -o-border-radius: 15px;
}

b{
    outline-style: solid;
    outline-color: #ff7500;
    outline-width: 2px;
}

.image-logo{
    padding:0%;
}

.image-logo a{
    padding: 0%;
    background-color: inherit;
    outline: none;
    margin-left: 0%;
}

.image-logo img{
    justify-content: center;
    width:99%;
    height: auto;
    object-fit: scale-down;
}



.footer-contact{
    display: inline-flex;
    width: 100%;
    margin-left: 0%;
    background-color: black;
    border-radius: 20px;
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    -ms-border-radius: 20px;
    -o-border-radius: 20px;

}

.footer-contact p{
    font-size: medium;
    color: #ff8500;
    margin-left: 20px;
    width: 100%;
    
}

.footer-contact a {
    padding: 0%;
    text-decoration: none;
    outline: none;
    font-size: medium;
    margin: 0%;
   
    color: #ff7500;
    
}

nav, .Header, .Link-Back, .About-Us-Links, a{
    padding: 6px;
    
}

.footer-contact b{

    padding: 0%;
    text-decoration: none;
    outline: none;
    font-size: medium;
    color: #ff6500;
}

.footer-contact a:hover{
    outline-style: solid;
    color:#ff5500;
    outline: none;
    outline-width: 2px;
}

.footer-contact a:active{
    color:red;
    outline-color: red;
    outline-width: 2px;
}

.section{
    background-color: black;
    padding: 0%;
    width: 100%;
    display: inline-flex;
    color: orange;
    border-radius: 20px;
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    -ms-border-radius: 20px;
    -o-border-radius: 20px;
    max-width: 100%;
    position: sticky;
    top: 0;

}

.section p{
    font-size: medium;
    
}


.p {
    display: inline-flex;
    margin-left: 48%;
    padding-left: 2px;
    width: 99%;
}

.p a{
    color:#ff7500;
    

}

.p p{
    margin-left: 4%;
}


.p b{
    color: #ff7500;
    
}

.section a{
    font-size: medium;
    padding: 0%;
    background-color: inherit;
    outline: none;
    margin: 0%;
}

.section a:hover{
    color: #ff4500;
}

.section b{
    text-decoration: none;
    font-size: medium;
    outline: none;
}

.section a:active{
    color: red;
}

.section a :hover{
    color: #ff5500;
}

.Header{
    color: #ff7500;
    background-color: black;
    width: 100%;
    border-radius: 25px;
    -webkit-border-radius: 25px;
    -moz-border-radius: 25px;
    -ms-border-radius: 25px;
    -o-border-radius: 25px;

}
.h2 h2{
    background-color: black;
    color: #ff7500;
}

h2{
    padding-left: 75%;
}

head{
    width: 100%;
    border-radius: 25px;
    -webkit-border-radius: 25px;
    -moz-border-radius: 25px;
    -ms-border-radius: 25px;
    -o-border-radius: 25px;
}


body{
    width: auto;
    border-radius: 25px;
    -webkit-border-radius: 25px;
    -moz-border-radius: 25px;
    -ms-border-radius: 25px;
    -o-border-radius: 25px;
    box-sizing: border-box;
    
}

footer{
    width: 100%;
    margin-left: 0%;
    padding-bottom: 5px;
}

.Background, .Content-Background, .Article-Background, .News-Article, .Articles, .Concept{
    padding: 8px;
    border-radius: 25px;
    -webkit-border-radius: 25px;
    -moz-border-radius: 25px;
    -ms-border-radius: 25px;
    -o-border-radius: 25px;
    
}



 .Contact-Background{
    width: 100%;
    padding-left: 8px;
    padding-right: 8px;
    border-radius: 25px;
    -webkit-border-radius: 25px;
    -moz-border-radius: 25px;
    -ms-border-radius: 25px;
    -o-border-radius: 25px;
    overflow-x: scroll;
}

.num{
margin-left: 0%;
}

.text{
color:#ff7500;
outline: none;
}

.text b{
outline: none;
}

.Links a {
text-decoration: none;
outline: none;
}

p{
font-size:x-large;
font-family: Arial, Helvetica, sans-serif;
}

h2, h3{
font-size: x-large;
    font-family: Arial, Helvetica, sans-serif;
    border-radius: 25px;
    -webkit-border-radius: 25px;
    -moz-border-radius: 25px;
    -ms-border-radius: 25px;
    -o-border-radius: 25px;
}

q{
    font-size:xx-large;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    color: #ff7500;
    padding-left: 60%;
}


h1{
    font-size: xx-large;
    background-color: #ff8500;
    font-family: Arial, Helvetica, sans-serif;
    display: inherit;
    max-width: 100%;
    border-radius: 25px;
    -webkit-border-radius: 25px;
    -moz-border-radius: 25px;
    -ms-border-radius: 25px;
    -o-border-radius: 25px;
}

.Food, .News-Article, .Intro-Article{
    background-color: #ff8500;
    width: 95%;
    padding: 5px;;
    padding-right: 8px;
    padding-left: 8px;
    outline-color: black;
    outline-style:solid;
    outline-width: 5px;
    margin: 5px;
    height: auto;
    max-height: 50%;
    border-radius: 25px;
    -webkit-border-radius: 25px;
    -moz-border-radius: 25px;
    -ms-border-radius: 25px;
    -o-border-radius: 25px;
    box-sizing: border-box;
    
}

.Food img{
    width: 250px;
    max-width: 100%;
}

.News-Article img{
    width: 250px;
    max-width: 100%;
}

.Intro-Article video{
    width: 250px;
    max-width: 100%;
}


.Articles{
    display: inline-flex;
    
    overflow-x: hidden;
    overflow-x: scroll;
}

.Concept{
    display: inline-flex;
    border-radius: 25px;
    -webkit-border-radius: 25px;
    -moz-border-radius: 25px;
    -ms-border-radius: 25px;
    -o-border-radius: 25px;
    width: 100%;
}

.Top-Care-Img img{
    width:fit-content;
    max-width: 100%;

}

.Cooking{
    display: inline-flex;
    color: #ff7500;
    outline-style: solid;
    outline-color: black;
    outline-width: 3px;
    border-radius: 25px ;
    -webkit-border-radius: 25px ;
    -moz-border-radius: 25px ;
    -ms-border-radius: 25px ;
    -o-border-radius: 25px ;
}

.Menu-Background{
    width: 100%;
    background-color: black;
    color: #ff8500;
    padding: 5px;
    border-radius: 25px;
    -webkit-border-radius: 25px;
    -moz-border-radius: 25px;
    -ms-border-radius: 25px;
    -o-border-radius: 25px;
}

.Community{
display: inline-flex;
outline-style: solid;
outline-color: #ff7500;
outline-width: 3px;
border-radius: 25px;
-webkit-border-radius: 25px;
-moz-border-radius: 25px;
-ms-border-radius: 25px;
-o-border-radius: 25px;
width: 99%;
}



.Header2{
background-color: #ff7500;
}


.Food-Menu{
    background-color: whitesmoke;
    color: black;
    outline-style: solid;
    outline-color: #ff7500;
    outline-width: 5px;
    padding: 5px;
    border-radius: 25px;
    -webkit-border-radius: 25px;
    -moz-border-radius: 25px;
    -ms-border-radius: 25px;
    -o-border-radius: 25px;
}

.Contact-Background{
    background-color: black;
    padding: 8px;
    border-radius: 25px;
    -webkit-border-radius: 25px;
    -moz-border-radius: 25px;
    -ms-border-radius: 25px;
    -o-border-radius: 25px;
    width: inherit;
}

.Contact{
    background-color: #ff8500;
    padding: 15px;
    border-radius: 25px;
    -webkit-border-radius: 25px;
    -moz-border-radius: 25px;
    -ms-border-radius: 25px;
    -o-border-radius: 25px;
    width: auto;
}

.Form{
    background-color: #ff8500;
    padding-left: 30%;
    padding-right: 30%;
    border-radius: 25px;
    -webkit-border-radius: 25px;
    -moz-border-radius: 25px;
    -ms-border-radius: 25px;
    -o-border-radius: 25px;
    max-width: fit-content;
}

.Home-Link a{
    text-decoration: none;
    outline-color: #ff7500;
    outline-width: 3px;
    outline-style: solid;
}

.Food-Link a{
    text-decoration: none;
    outline-color: #ff7500;
    outline-width: 3px;
    outline-style: solid;
    
}

label{
    font-size: x-large;
    font-family: Arial, Helvetica, sans-serif;
}

textarea::placeholder{
    font-size: large;
}


input[type=text], input[type=email], select, textarea {
    width: 100%;
    padding: 12px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    margin-top: 6px;
    margin-bottom: 16px;
    resize: vertical;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    -ms-border-radius: 4px;
    -o-border-radius: 4px;
    font-size: large;
    font-family: Arial, Helvetica, sans-serif;
}

input[type=submit] {
    background-color: black;
    color: #ff7500;
    padding: 12px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: large;
    font-family: Arial, Helvetica, sans-serif;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    -ms-border-radius: 4px;
    -o-border-radius: 4px;
    margin-left: 20%;
}

.nav a:hover{
    zoom: 101%;
    color:black;
    background-color: #ff7500;
    outline-width: 3px;
    outline-style: solid;
    text-decoration: none;
}

.nav a:active{
    color:black;
    background-color: red;
    outline-color: red;
    outline-width: 3px;
    outline-style: solid;
    text-decoration: none;
}

.nav ::after{
    color:#ff5500;
    outline-color: #ff5500;
    outline-width: 3px;
    outline-style: solid;
}

.Top-Care-Img :hover{
    background-color: #ff5500;
    zoom: 101%;
    transition: transform 2.0s ease-in-out;
    -webkit-transition: transform 2.0s ease-in-out;
    -moz-transition: transform 2.0s ease-in-out;
    -ms-transition: transform 2.0s ease-in-out;
    -o-transition: transform 2.0s ease-in-out;
}

.Menu-Img :hover{
    background-color: #ff5500;
    zoom: 101%;
    transition: transform 2.0s ease-in-out;
    -webkit-transition: transform 2.0s ease-in-out;
    -moz-transition: transform 2.0s ease-in-out;
    -ms-transition: transform 2.0s ease-in-out;
    -o-transition: transform 2.0s ease-in-out;
}

.Chickpeas-Rice-Img :hover{
    background-color: #ff5500;
    zoom: 101%;
    transition: transform 2.0s ease-in-out;
    -webkit-transition: transform 2.0s ease-in-out;
    -moz-transition: transform 2.0s ease-in-out;
    -ms-transition: transform 2.0s ease-in-out;
    -o-transition: transform 2.0s ease-in-out;
}

.Food-Link, .Drink-Link{
    margin-left: 4%;
}

.Food-Link a{
    margin-left: 6%;
}

.Food-Link :hover{
    zoom: 101%;
    color: #ff5500;
    outline-color: #ff5500;
    outline-width: 3px;
    outline-style: solid;
}

.Food-Link :active{
    color: red;
    outline-color: red;
    outline-width: 3px;
    outline-style: solid;
}

.Food-Link ::after{
    color:#ff5500;
    outline-color: #ff5500;
    outline-width: 3px;
    outline-style: solid;
}

.Drink-Link a{
    text-decoration: none;
    outline-color: #ff7500;
    outline-width: 3px;
    outline-style: solid;
    margin-left: 4%;
}


.Drink-Link :hover{
    zoom: 101%;
    color: #ff5500;
    outline-color: #ff5500;
    outline-width: 3px;
    outline-style: solid;
}

.Drink-Link :active{
    color: red;
    outline-color: red;
    outline-width: 3px;
    outline-style: solid;
}

.Drink-Link ::after{
    color:#ff5500;
    outline-color: #ff5500;
    outline-width: 3px;
    outline-style: solid;
}

.Home-Link :hover{
    zoom: 101%;
    color: #ff5500;
    outline-color: #ff5500;
    outline-width: 3px;
    outline-style: solid;
}

.Home-Link :active{
    color: red;
    outline-color: red;
    outline-width: 3px;
    outline-style: solid;
}

.Home-Link ::after{
    color:#ff5500;
    outline-color: #ff5500;
    outline-width: 3px;
    outline-style: solid;
}

.Food-Img2 :hover{
    zoom: 101%;
    background-color: black;
}

.Food-Img1 :hover{
    zoom: 101%;
    background-color: black;
}

.Contact-Form{
    padding: 11px;
}


nav, .Header, .Link-Back, .Links, a{
    padding: 6px;
}

.Links {
    margin-left: 2%;
    position: relative;
    display: block;
}

.nav {
    display: none;
    position: absolute;
    background-color: black;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    padding: 12px 16px;
    z-index: 1;
    background-color: black;
    color:#ff7500;
}

.nav a{
    color:#ff7500;
    font-size: large;
    font-family: Arial, Helvetica, sans-serif;
    background-color: black;
    border-radius: 25px;
    -webkit-border-radius: 25px;
    -moz-border-radius: 25px;
    -ms-border-radius: 25px;
    -o-border-radius: 25px;
}
.Links:hover i{
    color: #ff6500;
}

.Links:active i{
    color:#ff4500;

}

.Links:hover .nav{
    display: grid;
}

i{
    font-size:x-large;
    font-family: Arial, Helvetica, sans-serif;
    color: #ff7500;
    background-color: black;
}

nav{
    font-size: x-large;
    font-family: Arial, Helvetica, sans-serif;
    color: #ff8500;
    background-color: black;
    margin-left: auto;
    border-radius: 25px;
    -webkit-border-radius: 25px;
    -moz-border-radius: 25px;
    -ms-border-radius: 25px;
    -o-border-radius: 25px;
}

.internal-navigate{
    margin-left: 7%;

}

.internal-navigate a{
    color: #ff7500;
    margin-left: 5%;
    border-radius: 25px;
    -webkit-border-radius: 25px;
    -moz-border-radius: 25px;
    -ms-border-radius: 25px;
    -o-border-radius: 25px;
}


.Internal-Links{
    background-color: black;
    color: #ff7500;
    border-radius: 25px;
    -webkit-border-radius: 25px;
    -moz-border-radius: 25px;
    -ms-border-radius: 25px;
    -o-border-radius: 25px;
}

.internal-navigate a:hover{
    background-color: #ff7500;
    color: black;
    border-radius: 25px;
    -webkit-border-radius: 25px;
    -moz-border-radius: 25px;
    -ms-border-radius: 25px;
    -o-border-radius: 25px;
    text-decoration: none;
}

.Articles a{
    font-size: x-large;
    font-family: Arial, Helvetica, sans-serif;
    color: #ff8500;
    background-color: black;
    margin-left: auto;
    border-radius: 25px;
    -webkit-border-radius: 25px;
    -moz-border-radius: 25px;
    -ms-border-radius: 25px;
    -o-border-radius: 25px;
}

.Articles a:hover{
    text-decoration: none;

}

.Menu-Background a{
        font-size: x-large;
        font-family: Arial, Helvetica, sans-serif;
        color: #ff8500;
        background-color: black;
        margin-left: auto;
        border-radius: 25px;
        -webkit-border-radius: 25px;
        -moz-border-radius: 25px;
        -ms-border-radius: 25px;
        -o-border-radius: 25px;
}

.Menu-Background a:hover{
    text-decoration: none;
}

.Content-Background h1{
    font-size: xx-large;
    background-color: #ff8500;
    font-family: Arial, Helvetica, sans-serif;
    display: inherit;
    width: 100%;
    border-radius: 25px;
    -webkit-border-radius: 25px;
    -moz-border-radius: 25px;
    -ms-border-radius: 25px;
    -o-border-radius: 25px;
}

.internal-navigate i:hover{
  background-color: #ff7500;
  color: black;
  border-radius: 25px;
  -webkit-border-radius: 25px;
  -moz-border-radius: 25px;
  -ms-border-radius: 25px;
  -o-border-radius: 25px;
}

.internal-navigate a:active{
    background-color: red;
    color: black;
    border-radius: 25px;
    -webkit-border-radius: 25px;
    -moz-border-radius: 25px;
    -ms-border-radius: 25px;
    -o-border-radius: 25px;
}

.Drink-Menu a{
    margin-left: 4%;
}

.Food-Menu a{
    margin-left: 4%;
}

a{
    font-size: x-large;
    font-family: Arial, Helvetica, sans-serif;
    color: #ff8500;
    background-color: black;
    margin-left: auto;
    border-radius: 25px;
    -webkit-border-radius: 25px;
    -moz-border-radius: 25px;
    -ms-border-radius: 25px;
    -o-border-radius: 25px;
}

h1 b{
    outline: none;
}

h2 b{
    outline: none;
}

.contact-footer{
    width: 100%;
    max-width: 100%;
    
    
}
.contact-footer a{
    padding: 0%;
    text-decoration: none;
    outline: none;
    font-size: x-large;
    margin: 0%;
    color: black;
    
}

.contact-footer p {
    padding: 0%;
    text-decoration: none;
    outline: none;
    font-size: x-large;
    margin: 0%;
    margin-left: 30%;
    color: black;

}

.contact-footer h1{
    margin-left: 30%;
}

.contact-footer b{
    outline: none;
    color: black;
}

form button{
    background-color: black;
    color: #ff6500;
    padding: 12px 20px;
    border: none;
    border-radius: 15px;
    cursor: pointer;
    font-size: large;
    width: 30%;
    font-family: Arial, Helvetica, sans-serif;
    -webkit-border-radius: 15px;
    -moz-border-radius: 15px;
    -ms-border-radius: 15px;
    -o-border-radius: 15px;
    margin-left: 30%;
}

form button:hover{
    
    outline: none;
    color: #ff5500;
}

form button:active{
    color: red;
} 


u{
    color: black;
}

b{
    outline:none;
    text-decoration: none;
}

.contact-footer-1{
    width: 100%;
    max-width: 100%;
}

.contact-footer-1 p {
    padding: 0%;
    text-decoration: none;
    outline: none;
    font-size: x-large;
    margin: 0%;
    margin-left: 0%;
    color: black;

}

.contact-footer-1 h1{
    margin-left: 0%;
}

.contact-footer-1 a{
    color:black;
}

.contact-footer-1 a:hover{
    color: #ff5500;
}

.contact-footer-1 a:active{
    color: red;
}

.Survey-article{
    width: 100%;
    bakcground-color: white;
}

.Survey-article a{
    background-color: black;
    color: #ff7500;
}

.Survey-article a:hover{
    color: #ff5500;
    text-decoration: none;
    outline-style: solid;
    outline-width: 3px;
     border-radius: 25px;
    -webkit-border-radius: 25px;
    -moz-border-radius: 25px;
    -ms-border-radius: 25px;
    -o-border-radius: 25px;
    text-decoration: none;
}

.Survey-article a:active{
    color: red;
    text-decoration: none;
    outline-style: solid;
    outline-width: 3px;
    border-radius: 25px ;
    -webkit-border-radius: 25px ;
    -moz-border-radius: 25px ;
    -ms-border-radius: 25px ;
    -o-border-radius: 25px ;
}


